.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 217, 217);
    padding: 15px 0;

    &__middle {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 10px;
    }

    &__input {
        padding: 4px 0;
        padding-left: 10px;
        border: 0;
    }

    &__search {
        padding: 5px 22px;
        font-size: 12px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

@media screen and (min-width: 800px) {
    .header {
        &__left {
            width: 100px;
        }

        &__input {
            width: 396px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__right {
            margin-right: 156px;
        }
    }
}