.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 217, 217);

    &__left {
        width: 100px;
    }

    &__middle {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}