:host {
    display: flex;
    align-items: center;
    background-color: rgb(217, 217, 217);
    // background-color: rgb(199, 41, 41);
}

// .search {
//     display: flex;
//     align-items: center;
// }